<div class="separator-foot"></div>

<div class="readable-div">
    <p style="text-align: center;">
        Want to add something here? <br>
        Contact Pongo under <code>worldwidelgbtresources@gmail.com</code> <br>
        Technical difficulties? <br>
        Contact Add on 
        <a href="https://discordapp.com/users/245579273052749825">
            Discord (add_gaming)
        </a> 
        or 
        <a href="https://x.com/AddGaming2">
            Twitter
        </a>
        !
    </p>

    <p class="readable-text">
        Disclaimer: <br>
        This advice is based on our lived experience, we are not doctors/therapists/lawyers/experts. 
        Any products/companies are just suggestions. 
        Please use your own discretion and research with any advice listed. 
        Always seek the advice of your qualified health care provider regarding any medical questions.
    </p>
</div>
</body>
</html>
