<div class="sidebar">
    <ul>
        <a href="./index.html">
            <li style="border-top-style: solid">
                Home
            </li>
        </a>
        <a href="./mental_health.html">
            <li>
                Mental Health
            </li>
        </a>
        <a href="./social_transitioning.html">
            <li>
                Socially Transitioning
            </li>
        </a>
        <a href="./homelessness_and_financials.html#worldwide_housing_refugees_and_asylum">
            <li>
                Homelessness, lack of Food, Asylum and Refugees & financial needs
            </li>
        </a>
        <a href="./medically_transitioning.html">
            <li>
                Medically Transitioning
            </li>
        </a> 
        <a href="./lgbt_friendly_resources.html">
            <li>
                Finding an LGBT friendly resource
            </li>
        </a> 
        <a href="./trans_representation.html">
            <li>
                Transgender Representation
            </li>
        </a>
        <a href="./legal_help_for_lgbt.html">
            <li>
                Legal Help for LGBT
            </li>
        </a> 
        <a href="./general_lgbt_organizations.html">
            <li>
                General LGBT organizations
            </li>
        </a> 
        <a href="./trans_masc_resources.html">
            <li>
                Trans Masc Specific Resources
            </li>
        </a>
        <a href="./periods.html">
            <li>
                Periods
            </li>
        </a>
        <a href="./pregnancy_and_parenting.html">
            <li>
                Lgbt Pregnancy and parenting
            </li>
        </a>
        <a href="./trans_fem_resources.html">
            <li>
                Trans Fem specific resources
            </li>
        </a>
        <a href="./nonbinary_and_intersex_resources.html">
            <li>
                Nonbinary & Intersex specific resources
            </li>
        </a>
        <a href="./bipoc_resources.html">
            <li>
                BIPOC specific resources
            </li>
        </a>
    </ul>
</div>
