<div class="sidebar">
    <ul>
        <li>
            <a href="./mental_health.html">
                Mental Health
            </a>
        </li>
        <li>
            <a href="./social_transitioning.html">
                Socially Transitioning
            </a>
        </li>
        <li>
            <a href="./homelessness_and_financials.html#worldwide_housing_refugees_and_asylum">
                Homelessness, lack of Food, Asylum and Refugees & financial needs
            </a>
        </li>
        <li>
            <a href="./medically_transitioning.html">
                Medically Transitioning
            </a> 
        </li>
        <li>
            <a href="./lgbt_friendly_resources.html">
                Finding an LGBT friendly resource
            </a> 
        </li>
        <li>
            <a href="./trans_representation.html">
                Transgender Representation
            </a>
        </li>
        <li>
            <a href="./legal_help_for_lgbt.html">
                Legal Help for LGBT
            </a> 
        </li>
        <li>
            <a href="./general_lgbt_organizations.html">
                General LGBT organizations
            </a> 
        </li>
        <li>
            <a href="./trans_masc_resources.html">
                Trans Masc Specific Resources
            </a>
        </li>
        <li>
            <a href="./periods.html">
                Periods
            </a>
        </li>
        <li>
            <a href="./pregnancy_and_parenting.html">
                Lgbt Pregnancy and parenting
            </a>
        </li>
        <li>
            <a href="./trans_fem_resources.html">
                Trans Fem specific resources
            </a>
        </li>
        <li>
            <a href="./nonbinary_and_intersex_resources.html">
                Nonbinary & Intersex specific resources
            </a>
        </li>
        <li>

            <a href="./bipoc_resources.html">
                BIPOC specific resources
            </a>
        </li>
    </ul>
</div>
